.contenr{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 200px;
}

.img1{
    width: 465px;
    height: 450px;
    display: flex;
    text-align: center;
}

.img2{
    width: 465px;
    height: 430px;
    display: flex;
    text-align: center;
}